<!DOCTYPE html>
<html>
  <head>
    <title>Guitalog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <li>
        <%= link_to '投稿フォーム', new_post_image_path %>
      </li>
      <li>
        <%= link_to destroy_user_session_path, method: :delete do %>
          <i class="fas fa-sign-out-alt nav-link text-light">ログアウト</i>
        <% end %>
      </li>
    <% else %>
    <li>
      <%= link_to root_path do %>
      <i class= "fas fa-guitar nav-link text-light">Guitalog</i>
      <% end %>
    </li>
      <li>
        <%= link_to new_user_registration_path do %>
          <i class= "fas fa-user-plus nav-link text-light">新規登録</i>
        <% end %>
      </li>
      <li>
        <%= link_to new_user_session_path do %>
        <i class="fas fa-sign-in-alt nav-link text-light">ログイン</i>
        <% end %>
       <li>
         <%= link_to home_about_path do %>
          <i class="fas fa-link nav-link text-light">About</i>
         <% end %>
       </li>
      </li>
    <% end %>
    
    <%= yield %>
  </body>
</html>
